/********** Bannière Photographe **********/
.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 20px 100px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.photograph-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.photograph-info h2 {
  color: #d3573c;
  font-weight: 400;
  font-size: 60px;
  margin-top: auto;
}
.photograph-info h3 {
  color: #901c1c;
  font-weight: 400;
  font-size: 30px;
  margin-top: -35px;
}
.photograph-info strong {
  font-size: 20px;
  font-weight: 400;
  color: #525252;
}

.photograph-image img {
  display: flex;
  align-items: center;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  object-fit: cover;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
}

.contact_button:hover {
  background-color: #db8876;
  color: black;
}

.contact_button:focus-visible {
  background-color: #db8876;
  color: black;
  outline: 3px solid black;
}

/****************** Bouton des Filtres ***************************/
.sort_button {
  margin: 50px 100px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.sort_button label {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.photographer_select {
  background-color: #901c1c;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 150px; /* Ajustez la largeur selon vos besoins */
  position: relative; /* Important pour le positionnement absolu des pseudos-éléments */
}

.photographer_select {
  padding: 10px;
}

/**************** GALERIE ******************/
.gallery_section {
  padding: 30px 62px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.gallery_section img:focus-visible,
.gallery_section video:focus-visible {
  outline: 3px solid #d3573c;
  border-radius: 10px;
  padding: 2px;
  box-shadow: 0 0 4px 4px #d3573c;
}
.gallery_section img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 10%;
}
.gallery_section h3 {
  color: #901c1c;
  font-weight: 500;
  font-size: 20px;
  margin-left: 10%;
  margin-top: 5px;
  margin-bottom: 25px;
}
.gallery_section video {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 10%;
}

/** ENCART **/
.photographer_insert {
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: right;
  padding-right: 15px;
  align-items: center;
  background-color: #db8876;
  color: black;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  position: fixed;
  right: 50px;
  bottom: 0;
  z-index: 1000; /* Assure que l'encart soit au-dessus du contenu lors du scroll */
}

.photographer_insert:focus-visible {
  outline: 3px solid black;
  border-radius: 5px;
}
/****************** MODALE ******************/

#contact_modal {
  display: none;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
